body {
  background-image: url(../images/indy_background.jpg);
  background-size: cover;
}
#jumbo-img {
  width: 100%;
  margin: auto;
}

.gem-img {
  width: 40%;
  height: 40%;
  margin: auto;
  margin-bottom: 25px;
  opacity: 0;
}

body {
/*  background-image: url(../images/indy_background.jpg); */
}

.display-3, .score-board {
  font-family: 'Bangers', cursive;
  letter-spacing: 2px;
}



.lead, .sub-title {
  font-family: 'Special Elite', cursive;
}

.middle {
  opacity: 0;
}

.score-board {
  font-size: 24px;
  text-align: center;
}

#win-lose {
  width: 100%;
  margin: auto;
  text-align: center;
}

.card {
  border: 0px;
}

.card-body {
  padding: 2px;
}
